@model IEnumerable<ModelsLibary.StoreModel> 

@{
    ViewData["Title"] = "ShowStoreList";
}

<h1>List of Stores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store_City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store_State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        
@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store_State)
            </td>
            <td>
                
                @Html.ActionLink("Store Info","StoreInfo", item) |
                @Html.ActionLink("Buy Products","ShowProductList","Product", item) |
                @Html.ActionLink("Show Order List", "HistoryOrders", "OrderDetails",item)
                
                  
            </td>
        </tr>
        
}
    </tbody>
</table>
 @Html.ActionLink("Main", "Main", "Shop")