@model ModelsLibary.CustomerModel

@{
    ViewData["Title"] = "DisplayNewCustomer";
}

<h1>New Customer Informatio</h1>

<div>
    <h4>Customer Information: (Verify your information!!)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer_State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer_State)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Submit New Customer", "AddCustomer", @Model) |
     @Html.ActionLink("Back", "Index","Home") 
</div>
